<!doctype html>
<title>TabularSemanticParsing Demo</title>
<body>
<span style="font-size: 150%;">
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.database.label }} {{ form.database }}
        {{ form.query.label }} {{ form.query(cols="60") }}
        {{ form.submit }}
    </form>
    <pre>
    {{ answer }}
    </pre>

    {% for table in table_values %}
    {{ table }}
    <table>
        {% for row in table_values[table] %}
        <tr>
            {% for value in row %}
            <td>
                {{ value }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</span>
</body>