<!doctype html>
<head>
<title>TabularSemanticParsing Demo</title>
<style>
   table {
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   #larger {
    font-size: 150%;
   }

</style>
</head>
<body>
<span style="font-size: 150%;">
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.database.label }} {{ form.database }}
        {{ form.query.label }} {{ form.query(cols=80, rows=1, id='larger') }}
        {{ form.submit }}
    </form>
    <pre>
    {{ answer }}
    </pre>

    {% for table in table_values %}
    {{ table }}
    <table>
        <tr>
            {% for value in table_values[table][0] %}
            <th>
                {{ value }}
            </th>
            {% endfor %}
        </tr>
        {% for row in table_values[table][1:] %}
        <tr>
            {% for value in row %}
            <td>
                {{ value }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</span>
</body>